
<div class="form-group">
<h2>
  List Name: <%= @list.name %>
</h2>

  <%= form_with model: [@list, @item], local: true do |form| %>
    <%= form.hidden_field :completed, value: false %>
    <%= form.text_field :description, class:"form-control center-block updateList", placeholder: "Add New Task" %>
  <% end %>

<ul class="showList">
  <% @list.items.each do |item| %>
    <li class="item <%= 'completed' if item.completed %>">
      <%= link_to '<i class="fa fa-check-square-o" aria-hidden="true"></i>'.html_safe, toggle_list_item_path(@list, item), method: :put %>
    <%= item.description %>
    <%= link_to '<i class="fa fa-window-close" aria-hidden="true"></i>'.html_safe, list_item_path(@list, item), method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>

</div>
