<div class="well well-lg wellsStyle">
  <div class="form-group">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%# Ask Josh about => vs. : %>
      <div class="field">
      <%= f.email_field :email, autofocus: true, class: 'form-control', :placeholder => 'Email address' %>
      </div>

      <div class="field">
      <%= f.password_field :password, autocomplete: "off", class: "form-control", :placeholder => 'Password' %>
      </div>

    <% if devise_mapping.rememberable? -%>
    <%# This places the checkbox next to the label (Check this one with Josh!!!) %>
    <%= f.label :remember_me do %>
    <%= f.check_box :remember_me %>
    Remember Me
    <% end %>

    <% end -%>

    <%= f.submit "Log in", class: "btn btn-default" %>

    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
