<!DOCTYPE html>
<html>
  <head>
    <title>TodoMvc</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- fontawesome -->
    <script src="https://use.fontawesome.com/0b3217b463.js"></script>
  </head>

<body>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
<!-- Navbar -->
  <div class="masthead clearfix">
          <div class="inner">
              <h3 class="masthead-brand"><%= link_to 'Amazing ToDoS', root_path %></h3>
              <nav>
          <!-- Not LoggedIn Navbar -->

          <!-- LoggedIn Navbar -->
              <ul class="nav masthead-nav">
                <%= render 'nav_link', text: 'Home', path: root_path %>
                <%= render 'nav_link', text: 'New List', path: new_list_path %>
                <%= render 'nav_link', text: 'My List', path: lists_path %>
              <% if user_signed_in? %>
              <!-- The commented code shows the logged in user -->
                <!-- <li><%= link_to 'Signed in as ' + current_user.email, edit_user_registration_path %></li> -->
              <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
              <% else %>
              <li><%= link_to 'Log In', new_user_session_path %></li>
              <% end %>
              </ul>
              </nav>
          </div>
        </div>
  <!-- Navbar/End -->

  <!-- Page Main View -->
        <div class="inner cover">
          <%= yield %>
        <p id="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
  <!-- Page Main View/End -->

    </div>
  </div>
</div>

  </body>
</html>
